1 ICON "C:/Users/ARS7236/Desktop/icons/Audio file.ico"
2 ICON "C:/Users/ARS7236/Desktop/icons/Audio.ico"
3 ICON "C:/Users/ARS7236/Desktop/icons/Blank.ico"
4 ICON "C:/Users/ARS7236/Desktop/icons/Briefcase.ico"
5 ICON "C:/Users/ARS7236/Desktop/icons/Camera.ico"
6 ICON "C:/Users/ARS7236/Desktop/icons/Computer.ico"
7 ICON "C:/Users/ARS7236/Desktop/icons/config.ico"
8 ICON "C:/Users/ARS7236/Desktop/icons/Control Panel.ico"
9 ICON "C:/Users/ARS7236/Desktop/icons/Defrag.ico"
10 ICON "C:/Users/ARS7236/Desktop/icons/Desktop.ico"
11 ICON "C:/Users/ARS7236/Desktop/icons/Device 2.ico"
12 ICON "C:/Users/ARS7236/Desktop/icons/Device.ico"
13 ICON "C:/Users/ARS7236/Desktop/icons/dll.ico"
14 ICON "C:/Users/ARS7236/Desktop/icons/exe.ico"
15 ICON "C:/Users/ARS7236/Desktop/icons/Explorer.ico"
16 ICON "C:/Users/ARS7236/Desktop/icons/Folder 3D.ico"
17 ICON "C:/Users/ARS7236/Desktop/icons/Folder Blue.ico"
18 ICON "C:/Users/ARS7236/Desktop/icons/Folder check.ico"
19 ICON "C:/Users/ARS7236/Desktop/icons/Folder Contacts.ico"
20 ICON "C:/Users/ARS7236/Desktop/icons/Folder Desktop.ico"
21 ICON "C:/Users/ARS7236/Desktop/icons/Folder Documents.ico"
22 ICON "C:/Users/ARS7236/Desktop/icons/Folder Downloads.ico"
23 ICON "C:/Users/ARS7236/Desktop/icons/Folder Favourites.ico"
24 ICON "C:/Users/ARS7236/Desktop/icons/Folder Fonts.ico"
25 ICON "C:/Users/ARS7236/Desktop/icons/Folder Games.ico"
26 ICON "C:/Users/ARS7236/Desktop/icons/Folder Green.ico"
27 ICON "C:/Users/ARS7236/Desktop/icons/Folder Grey.ico"
28 ICON "C:/Users/ARS7236/Desktop/icons/Folder Links 2.ico"
29 ICON "C:/Users/ARS7236/Desktop/icons/Folder Links.ico"
30 ICON "C:/Users/ARS7236/Desktop/icons/Folder Live - Back.ico"
31 ICON "C:/Users/ARS7236/Desktop/icons/Folder Live - Front.ico"
32 ICON "C:/Users/ARS7236/Desktop/icons/Folder Music.ico"
33 ICON "C:/Users/ARS7236/Desktop/icons/Folder OneDrive.ico"
34 ICON "C:/Users/ARS7236/Desktop/icons/Folder Open.ico"
35 ICON "C:/Users/ARS7236/Desktop/icons/Folder Pictures.ico"
36 ICON "C:/Users/ARS7236/Desktop/icons/Folder Search.ico"
37 ICON "C:/Users/ARS7236/Desktop/icons/Folder User 2.ico"
38 ICON "C:/Users/ARS7236/Desktop/icons/Folder User.ico"
39 ICON "C:/Users/ARS7236/Desktop/icons/Folder Videos.ico"
40 ICON "C:/Users/ARS7236/Desktop/icons/Folder.ico"
41 ICON "C:/Users/ARS7236/Desktop/icons/Hardware.ico"
42 ICON "C:/Users/ARS7236/Desktop/icons/Help 2.ico"
43 ICON "C:/Users/ARS7236/Desktop/icons/Help.ico"
44 ICON "C:/Users/ARS7236/Desktop/icons/History.ico"
45 ICON "C:/Users/ARS7236/Desktop/icons/HomeGroup.ico"
46 ICON "C:/Users/ARS7236/Desktop/icons/Hotspot.ico"
47 ICON "C:/Users/ARS7236/Desktop/icons/Info.ico"
48 ICON "C:/Users/ARS7236/Desktop/icons/Key.ico"
49 ICON "C:/Users/ARS7236/Desktop/icons/Keyboard.ico"
50 ICON "C:/Users/ARS7236/Desktop/icons/Library Library.ico"
51 ICON "C:/Users/ARS7236/Desktop/icons/Library Music.ico"
52 ICON "C:/Users/ARS7236/Desktop/icons/Library TV.ico"
53 ICON "C:/Users/ARS7236/Desktop/icons/Library Videos.ico"
54 ICON "C:/Users/ARS7236/Desktop/icons/Library.ico"
55 ICON "C:/Users/ARS7236/Desktop/icons/Libray Documents.ico"
56 ICON "C:/Users/ARS7236/Desktop/icons/Libray Pictures.ico"
57 ICON "C:/Users/ARS7236/Desktop/icons/Link.ico"
58 ICON "C:/Users/ARS7236/Desktop/icons/Lock.ico"
59 ICON "C:/Users/ARS7236/Desktop/icons/Media.ico"
60 ICON "C:/Users/ARS7236/Desktop/icons/Multimedia file.ico"
61 ICON "C:/Users/ARS7236/Desktop/icons/Music file.ico"
62 ICON "C:/Users/ARS7236/Desktop/icons/Network.ico"
63 ICON "C:/Users/ARS7236/Desktop/icons/Notes.ico"
64 ICON "C:/Users/ARS7236/Desktop/icons/One Drive.ico"
65 ICON "C:/Users/ARS7236/Desktop/icons/Personalization.ico"
66 ICON "C:/Users/ARS7236/Desktop/icons/Phone.ico"
67 ICON "C:/Users/ARS7236/Desktop/icons/Photos file.ico"
68 ICON "C:/Users/ARS7236/Desktop/icons/Photos.ico"
69 ICON "C:/Users/ARS7236/Desktop/icons/Pictures file.ico"
70 ICON "C:/Users/ARS7236/Desktop/icons/Printer 2.ico"
71 ICON "C:/Users/ARS7236/Desktop/icons/Printer.ico"
72 ICON "C:/Users/ARS7236/Desktop/icons/Programs.ico"
73 ICON "C:/Users/ARS7236/Desktop/icons/Quick Access.ico"
74 ICON "C:/Users/ARS7236/Desktop/icons/Recent.ico"
75 ICON "C:/Users/ARS7236/Desktop/icons/Region.ico"
76 ICON "C:/Users/ARS7236/Desktop/icons/Run 1.ico"
77 ICON "C:/Users/ARS7236/Desktop/icons/Run.ico"
78 ICON "C:/Users/ARS7236/Desktop/icons/Scanner.ico"
79 ICON "C:/Users/ARS7236/Desktop/icons/Screensaver.ico"
80 ICON "C:/Users/ARS7236/Desktop/icons/Search.ico"
81 ICON "C:/Users/ARS7236/Desktop/icons/Security.ico"
82 ICON "C:/Users/ARS7236/Desktop/icons/Settings 2.ico"
83 ICON "C:/Users/ARS7236/Desktop/icons/Settings.ico"
84 ICON "C:/Users/ARS7236/Desktop/icons/SHIDI_SHIELD_INTERNAL.ico"
85 ICON "C:/Users/ARS7236/Desktop/icons/Shield.ico"
86 ICON "C:/Users/ARS7236/Desktop/icons/Stop.ico"
87 ICON "C:/Users/ARS7236/Desktop/icons/Tasks.ico"
88 ICON "C:/Users/ARS7236/Desktop/icons/Trash Empty.ico"
89 ICON "C:/Users/ARS7236/Desktop/icons/Trash Full.ico"
90 ICON "C:/Users/ARS7236/Desktop/icons/User.ico"
91 ICON "C:/Users/ARS7236/Desktop/icons/Users.ico"
92 ICON "C:/Users/ARS7236/Desktop/icons/Video device.ico"
93 ICON "C:/Users/ARS7236/Desktop/icons/Video file.ico"
94 ICON "C:/Users/ARS7236/Desktop/icons/Videos file.ico"
95 ICON "C:/Users/ARS7236/Desktop/icons/Warning.ico"
96 ICON "C:/Users/ARS7236/Desktop/icons/x.ico"
97 ICON "C:/Users/ARS7236/Desktop/icons/Zip.ico"
